body{
    font-family: Arial, Helvetica, sans-serif;
}

#name{
    font: "Helvetica";
    font-size: 2em;
}

.top-bar{
    position: static;
    background-color: grey;;
    text-align: center;
    color: white;
}

.inline-block{
    padding: 5px;
}

a:visited{
    color: white;
}

a{
    padding-left: 200px;
}

